{extend name="common/page_container" /}
{block name="content"}
<div class="page-container">
    <div style="margin-top: 10px;">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="100">账户</th>
                <th width="100">昵称</th>
                <th width="40">性别</th>
                <th width="100">注册时间</th>
                <th width="70">状态</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <tbody>
           
            </tbody>
        </table>
    </div>

    <div class="mt-15">

    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
   
</script>
{/block}